<log4net>
	<!-- Error Logger -->
	<logger name="ErrorLogger">
		<level value="ERROR" />
		<appender-ref ref="ErrorFileAppender" />
	</logger>

	<!-- Info Logger -->
	<logger name="InfoLogger">
		<level value="INFO" />
		<appender-ref ref="InfoFileAppender" />
	</logger>

	<!-- Warn Logger -->
	<logger name="WarnLogger">
		<level value="ERROR" />
		<appender-ref ref="WarnFileAppender" />
	</logger>

	<!-- Debug Logger -->
	<logger name="DebugLogger">
		<level value="INFO" />
		<appender-ref ref="DebugFileAppender" />
	</logger>

	<!-- Error File Appender -->
	<appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString">
			<conversionPattern value="C:\Users\Public\Documents\ClientSync\Logs\Error\%date{yyyyMMdd-HHmmss}.log" />
		</file>
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %5level - %message%newline%exception" />
		</layout>
	</appender>

	<!-- Info File Appender -->
	<appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString">
			<conversionPattern value="C:\Users\Public\Documents\ClientSync\Logs\Info\%date{yyyyMMdd-HHmmss}.log" />
		</file>
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %5level - %message%newline" />
		</layout>
	</appender>

	<!-- Warn File Appender -->
	<appender name="WarnFileAppender" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString">
			<conversionPattern value="C:\Users\Public\Documents\ClientSync\Logs\Warn\%date{yyyyMMdd-HHmmss}.log" />
		</file>
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %5level - %message%newline" />
		</layout>
	</appender>

	<!-- Debug File Appender -->
	<appender name="DebugFileAppender" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString">
			<conversionPattern value="C:\Users\Public\Documents\ClientSync\Logs\Debug\%date{yyyyMMdd-HHmmss}.log" />
		</file>
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %5level - %message%newline" />
		</layout>
	</appender>
</log4net>